<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The List Of rests</title>
</head>
<body>
	<section class="section">
		<div class="maincolumns columns is-desktop is-vcentered">
			<div class="column is-10 is-offset-1 notification is-info is-light box container">
				<div class="title">
					Web Users
				</div>
				<% var thisIsTheRestId = [] %> 
				<% if (locals.result) { %>
					<div class="table-container">
						<table class="table is-bordered is-hoverable is-striped is-narrow">
							<thead>
								<tr>
									<th> Reviewer Name </th>
									<th> details </th>
                                    <th> rating </th>
									<th> &nbsp; </th>
								</tr>
							</thead>
							<% let i=0; %>
								<% for(i=0; i < result.length; i++) { %>
									<tr>
										<td>
											<%= result[i].reviewer_name %>
										</td>
										<td>
											<%= result[i].details %>
										</td>
                                        <td>
											<%= result[i].rating %>
											
											
										</td>
										<% var thisIsit = result[i].restaurant_id %> 
										<td><a href="/review/deleteReview/<%= result[i].review_id %>">
												<span class="icon is-small">
													<i class="fas fa-user-times"></i>
												</span></a>
										</td>
									</tr>
									<% } %>
										<tfoot>
											<tr>
												<td colspan="4">
													There are <%= i %> Reviews.
												</td>
											</tr>
										</tfoot>
						</table>
					</div>
					<% } %>
			</div>
		</div>
	</section>			
	

	<form action="addReview" method="post">
		<div class="field is-horizontal">
			<div class="field-label is-normal">
				<label class="label">Add New Review</label>
			</div>
			<div class="field-body">
				<div class="field">
					<p class="control is-expanded">
						<input name="reviewer_name" class="input" type="text" placeholder="reviewer_name">
					</p>
				</div>
				<div class="field">
					<p class="control is-expanded">
						<input name="details" class="input" type="text" placeholder="details">
					</p>
				</div>
				<div class="field">
					<p class="control is-expanded">
						<input name="rating" class="input" type="text" placeholder="rating">
					</p>
				</div>
				<div class="field">
					<button class="button is-link">
						<span>Add</span>
						<span class="icon is-small">
							<i class="fas fa-user-plus"></i>
						</span>
					</button>
				</div>
			</div>
		</div>
	</form>
</body>

</body>
</html>